ul {
	list-style: none;
}

.mainMenu {
	margin: 10px;
	width: 900px;
	font-family: Arial;
}

.mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

.mainMenu a {
	display:block;
	padding:3px;
	text-decoration:aliceblue;
	background-color:#fff;
	color:#009;
}

.mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

.img__tab{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
  height: auto;
  padding-top: 5%;

}

#gmail{
    display: block;
    float: right;
    margin-left: 10px;
}

#download{
    display: block;
    float: right;
    margin-right: 20px;
}
